@model Request_Course.VM.MokhatabInfoVM

@{
    Layout="~/Views/Shared/_LayoutMokhatabin.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MokhatibProfile</title>
</head>
<body>
    <p>Name : @Model.Name</p>
    <p>Sherkat :@Model.Name_Sherkat </p>
    <p>Email : @Model.Email</p>
    <p>Phone : @Model.Phone</p>
</body>
</html>
