
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCode</title>
</head>
<body>

<h4>CodeVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Code is not True</h3>
         <a asp-controller="Account" asp-action="GetPhone">Re Code</a>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


</body>
</html>
