@model Request_Course.VM.NazarSanjiVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nazarsanj</title>
</head>
<body>

<h4>نظرسنجی</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Nazarsanj" method="post">
            <input asp-for="Username"  value="@ViewBag.username" data="@ViewBag.username"    />
            <input asp-for="T_Doreh_Darkhasti_ID"  value="@ViewBag.DorehId" data="@ViewBag.DorehId"    />
            <div class="form-group">
                <label asp-for="Num_Tasalot" class="control-label"></label>
                <input asp-for="Num_Tasalot" class="form-control" />
                <span asp-validation-for="Num_Tasalot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_Roayat_Sarfasl" class="control-label"></label>
                <input asp-for="Num_Roayat_Sarfasl" class="form-control" />
                <span asp-validation-for="Num_Roayat_Sarfasl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_Roayat_Nazm" class="control-label"></label>
                <input asp-for="Num_Roayat_Nazm" class="form-control" />
                <span asp-validation-for="Num_Roayat_Nazm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_TamoolBaFaragir" class="control-label"></label>
                <input asp-for="Num_TamoolBaFaragir" class="form-control" />
                <span asp-validation-for="Num_TamoolBaFaragir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
