<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container">
    <div class="row" style="margin-top:5%;direction:rtl;font-weight:700">
        <div class="col-md-12 card card-primary" >

            <form >
                <div class="row card-header" style="background-color:#007bff;margin-bottom:2%">
                    <div class="form-group col-md-6 card-title">
                        <label for="inputEmail4" style="font-size:large;font-family:fantasy">sherkat : CodAvaran</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4" style="font-size:large;font-family:fantasy" >User : Ali </label>
                    </div>
                    <br />
                </div>
                <br />
                <div class="row" style="margin-bottom:2%">
                    <div class="form-group col-md-6">
                        <label for="inputState">Onvan Asli</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Computer</option>
                            <option>Math</option>
                            <option>artichel</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Onvan Doreh</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Hala</option>
                            <option>Hame</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom:2%">
                    <div class="form-group col-md-6">
                        <label for="inputState">Media Amozeshi</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Tele</option>
                            <option>insta</option>
                            <option>you tube</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Ravesh Amozeshi</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Online</option>
                            <option>Offline</option>
                            <option>Direct</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom:2%">
                    <div class="form-group col-md-6">
                        <label for="inputState">Modate Doreh</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>1 ta 5</option>
                            <option>5 ta 10</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Mokhatibin Doreh</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Javan</option>
                            <option>NoJavan</option>
                            <option>Minasal</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom:2%">
                    <div class="form-group col-md-6">
                        <label for="inputState">Data from</label>
                        <input type="date" class="form-control" />
                    </div>
                   <div class="form-group col-md-6">
                        <label for="inputState">Data To</label>
                        <input type="date" class="form-control" />
                    </div>
                </div>
                  <div class="row" style="margin-bottom:2%">
                    <div class="form-group col-md-6">
                        <label for="inputState">Sateh keyfi</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>2 star</option>
                            <option>3 star</option>
                            <option>4 star</option>
                        </select>
                    </div> 
                </div>
                <br />
                <div class="card-footer" style="margin-right:-1%;margin-left:-1%">
                <button type="submit" class="btn btn-primary">Taiid</button>
                <button type="button" class="btn btn-primary">Doreh Jadid</button>
                </div>
            </form>
        </div>
    </div>
</div>